    {{#drop-down-button title="View previous reports" icon="images/Icon_BoardReportPicker@2x.png"}}
    {{#each report in reports}}
            {{#if currentPageID}}
                <li>{{#link-to 'page' report.id currentAnnexID currentPageID}}{{report.title}}{{/link-to}}</li>
            {{else}}
                <li>{{#link-to 'dash' report.id}}{{report.title}}{{/link-to}}</li>
            {{/if}}
        {{/each}}
    {{/drop-down-button}}
