<div {{bind-attr class="color :block"}}>
    <div class="currentValue">{{current}}</div>
    <div class="previousValue">
        <span class="textLabel">Change:</span> {{previous}}
    </div>
</div>