<div class="row ragTitles small">
    <div class="col span_5 ">
        &nbsp;
    </div>
    <div class="col span_7">
        <div class="">
            <div class="colHeader">
                Red
            </div>
            <div class="colHeader">
                Am/Red
            </div>
            <div class="colHeader">
                Amber
            </div>
            <div class="colHeader">
                Am/Green
            </div>
            <div class="colHeader">
                Green
            </div>
            <div class="colHeader">
                No trend
            </div>
        </div>
    </div>
</div>
