{{#drop-down-button title="Key"}}
    <li class="red">R = Red</li>
    <li class="amberRed">RA = Amber Red</li>
    <li class="amber">A = Amber</li>
    <li class="amberGreen">A/G = Amber Green</li>
    <li class="green">G=Green</li>
{{/drop-down-button}}
