{{#drop-down-button title="Key"}}
<li class="red">
    <div class="row">
        <div class="col span_5 paddingNone center">R</div>
        <div class="col span_7 paddingNone center">Red</div>
    </div>
</li>
<li class="amberRed">
    <div class="row">
        <div class="col span_5 paddingNone center">R/A</div>
        <div class="col span_7 paddingNone center">Amber Red</div>
    </div>
</li>
<li class="amber">
    <div class="row">
        <div class="col span_5 paddingNone center">A</div>
        <div class="col span_7 paddingNone center">Amber</div>
    </div>
</li>
<li class="amberGreen">
    <div class="row">
        <div class="col span_5 paddingNone center">A/G</div>
        <div class="col span_7 paddingNone center">Amber Green</div>
    </div>
</li>
<li class="green">
    <div class="row">
        <div class="col span_5 paddingNone center">G</div>
        <div class="col span_7 paddingNone center">Green</div>
    </div>
</li>
{{/drop-down-button}}
