/*
===============================
    Mixins
===============================
*/
/* Transform Mixin to be used with other vals */
/* Scale mixin */
/* Border Radius mixin */
/* Box Shadow Mixin */
/* Transition Mixin */
/* CSS3 Filter Mixin */
/* Transition Mixin */
/*
===============================
    Reusables
===============================
*/
/* line 76, ../sass/gridster.screen.scss */
.antiAlias {
  font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

/* line 84, ../sass/gridster.screen.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 89, ../sass/gridster.screen.scss */
.centerText {
  text-align: center;
}

/* line 93, ../sass/gridster.screen.scss */
.cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 103, ../sass/gridster.screen.scss */
.elastic {
  width: 100%;
  display: block;
}

/* line 108, ../sass/gridster.screen.scss */
.noTouch {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

/* line 118, ../sass/gridster.screen.scss */
.transition {
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 126, ../sass/gridster.screen.scss */
.outer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 133, ../sass/gridster.screen.scss */
.inner {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 139, ../sass/gridster.screen.scss */
.cell {
  display: table-cell;
  vertical-align: middle;
}

/*
===============================
    Variables
===============================
*/
/*
===============================
    Style
===============================
*/
/* line 166, ../sass/gridster.screen.scss */
body {
  /*font-family: $sans;
  background: $white;*/
}

/* line 171, ../sass/gridster.screen.scss */
.siteWrapper {
  position: relative;
  -webkit-transition: -webkit-filter 200ms linear;
}

/* line 176, ../sass/gridster.screen.scss */
button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
}

/* Pre Site */
/*.preSite {
    width: 100%;
    background: $white;
    color: #494949;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-filter 200ms linear;
}*/
/* line 193, ../sass/gridster.screen.scss */
.infoWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
  opacity: 0;
  top: 0;
}
/* line 202, ../sass/gridster.screen.scss */
.infoWrapper .infoCross {
  position: absolute;
  top: 38px;
  right: 25px;
}
/* line 208, ../sass/gridster.screen.scss */
.infoWrapper .infoTop {
  padding: 50px 0;
  border-bottom: 1px solid #c7c7c7;
}
/* line 213, ../sass/gridster.screen.scss */
.infoWrapper h2 {
  font-size: 26px;
}
/* line 217, ../sass/gridster.screen.scss */
.infoWrapper h3 {
  font-size: 18px;
}
/* line 221, ../sass/gridster.screen.scss */
.infoWrapper p {
  font-size: 13px;
  line-height: 18px;
  max-width: 580px;
  margin: 0 auto;
}
/* line 228, ../sass/gridster.screen.scss */
.infoWrapper .signup {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  background: #ebebeb;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
}
/* line 242, ../sass/gridster.screen.scss */
.infoWrapper .submit {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  background: #39b3e2;
  padding: 10px 35px;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 14px;
}
/* line 252, ../sass/gridster.screen.scss */
.infoWrapper .disclaimer {
  font-size: 10px;
  color: #d1d1d1;
  line-height: 14px;
}
/* line 258, ../sass/gridster.screen.scss */
.infoWrapper .socialContainer {
  width: 100%;
  padding: 35px 0;
  border-top: 1px solid #c7c7c7;
  position: absolute;
  bottom: 0;
}
/* line 266, ../sass/gridster.screen.scss */
.infoWrapper .social {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 5px;
}

/*.infoPreSite {
    text-align: center;

    .tutorialTitle {
        padding: 65px;
        background: #f8f8f8;
        border-bottom: 1px solid #c7c7c7;

        h2 {
            font-size: 26px;
            margin-bottom: 25px;
        }

        h3 {
            font-size: 15px;
        }
    }

    .tutorialInfo {
        padding: 65px;
        background: #f8f8f8;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #c7c7c7;

        p {
            font-size: 14px;
            line-height: 18px;
            max-width: 580px;
            margin: 0 auto;
        }

        .scrollButton {
            width: 142px;
            height: 38px;
            border: 1px solid #979797;
            margin-top: 30px;
            @include borderRadius(9px);
            color: $white;
            display: block;
            background: #39b3e2;
        }

        .dontShow {
            color: $green;
            text-decoration: none;
            font-size: 12px;
            margin-top: 19px;
            display: inline-block;
        }
    }
}*/
/* Header */
/* line 335, ../sass/gridster.screen.scss */
.stickyWrapper {
  position: fixed;
  top: 0;
}

/* line 342, ../sass/gridster.screen.scss */
.subMenuInner {
  opacity: 0;
}

/* Content */
/* line 350, ../sass/gridster.screen.scss */
.contentWrapper {
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-filter 200ms linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 357, ../sass/gridster.screen.scss */
.overflowX {
  overflow-x: hidden;
}

/* line 361, ../sass/gridster.screen.scss */
.stickyContent {
  top: 96px;
}

/* line 365, ../sass/gridster.screen.scss */
#container {
  height: 100%;
}

/* line 369, ../sass/gridster.screen.scss */
.widget {
  background: #d7d7d7;
  box-sizing: border-box;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-size: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 380, ../sass/gridster.screen.scss */
.dragging .widget:not(.dragging) {
  opacity: 0.7;
}

/* line 384, ../sass/gridster.screen.scss */
.widget.dragging {
  z-index: 5;
  -webkit-transition: none 0s linear;
  -moz-transition: none 0s linear;
  -ms-transition: none 0s linear;
  -o-transition: none 0s linear;
  transition: none 0s linear;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 390, ../sass/gridster.screen.scss */
.preview-holder {
  z-index: 1;
  position: absolute;
  background-color: #E5E5E5;
  opacity: 1;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #ddd;
  opacity: 0.3;
}

/* line 400, ../sass/gridster.screen.scss */
.block1 {
  background-image: url(../img/big1.png);
}

/* line 404, ../sass/gridster.screen.scss */
.block2 {
  background-image: url(../img/big2.png);
}

/* line 408, ../sass/gridster.screen.scss */
.block3 {
  background-image: url(../img/big1.png);
}

/* line 412, ../sass/gridster.screen.scss */
.block4 {
  background-image: url(../img/big2.png);
}

/* line 416, ../sass/gridster.screen.scss */
.block5 {
  background-image: url(../img/tall1.png);
}

/* line 420, ../sass/gridster.screen.scss */
.block6 {
  background-image: url(../img/tall1.png);
}

/* line 424, ../sass/gridster.screen.scss */
.block7 {
  background-image: url(../img/tall1.png);
}

/* line 428, ../sass/gridster.screen.scss */
.block8 {
  background-image: url(../img/tall1.png);
}

/* line 432, ../sass/gridster.screen.scss */
.block9 {
  background-image: url(../img/wide1.png);
}

/* line 436, ../sass/gridster.screen.scss */
.block10 {
  background-image: url(../img/wide2.png);
}

/* line 440, ../sass/gridster.screen.scss */
.block11 {
  background-image: url(../img/wide1.png);
}

/* line 444, ../sass/gridster.screen.scss */
.block12 {
  background-image: url(../img/wide2.png);
}

/* line 448, ../sass/gridster.screen.scss */
.block13 {
  background-image: url(../img/small1.png);
}

/* line 452, ../sass/gridster.screen.scss */
.block14 {
  background-image: url(../img/small2.png);
}

/* line 456, ../sass/gridster.screen.scss */
.block15 {
  background-image: url(../img/small3.png);
}

/* line 460, ../sass/gridster.screen.scss */
.block16 {
  background-image: url(../img/small4.png);
}

/* line 464, ../sass/gridster.screen.scss */
.block17 {
  background-image: url(../img/small5.png);
}

/* line 468, ../sass/gridster.screen.scss */
.block18 {
  background-image: url(../img/small6.png);
}

/* line 472, ../sass/gridster.screen.scss */
.blur {
  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);
  -ms-filter: blur(40px);
  -o-filter: blur(40px);
  filter: blur(40px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 0.2;
}

/* end media Query */
@media all and (max-width: 768px) {
  /* line 485, ../sass/gridster.screen.scss */
  .headerWrapper .presentation {
    display: none;
  }

  /* line 490, ../sass/gridster.screen.scss */
  .blur {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -ms-filter: blur(25px);
    -o-filter: blur(25px);
    filter: blur(25px);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* end media Query */
@media all and (max-width: 540px) {
  /* line 499, ../sass/gridster.screen.scss */
  .infoPreSite .tutorialTitle {
    padding: 35px;
  }
  /* line 503, ../sass/gridster.screen.scss */
  .infoPreSite .tutorialInfo {
    padding: 35px;
  }

  /* line 509, ../sass/gridster.screen.scss */
  .infoWrapper .infoTop {
    border-bottom: none;
  }
  /* line 513, ../sass/gridster.screen.scss */
  .infoWrapper .signup {
    width: 75%;
    display: block;
    margin: 0 auto 15px auto;
  }
  /* line 522, ../sass/gridster.screen.scss */
  .infoWrapper .disclaimer {
    font-size: 10px;
    color: #d1d1d1;
    line-height: 14px;
  }
  /* line 528, ../sass/gridster.screen.scss */
  .infoWrapper .socialContainer {
    padding: 35px 0;
  }
  /* line 532, ../sass/gridster.screen.scss */
  .infoWrapper .social {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  /* line 537, ../sass/gridster.screen.scss */
  .infoWrapper .social svg {
    width: 30px;
    height: 30px;
  }
  /* line 543, ../sass/gridster.screen.scss */
  .infoWrapper .disclaimer {
    display: none;
  }
  /* line 547, ../sass/gridster.screen.scss */
  .infoWrapper h2 {
    font-size: 21px;
  }
  /* line 551, ../sass/gridster.screen.scss */
  .infoWrapper h3 {
    font-size: 16px;
  }
  /* line 555, ../sass/gridster.screen.scss */
  .infoWrapper p {
    font-size: 12px;
  }

  /* line 561, ../sass/gridster.screen.scss */
  .navWrapper .navA {
    margin: 0 20px;
  }
}
/* end media Query */
@media all and (max-width: 330px) {
  /* line 571, ../sass/gridster.screen.scss */
  .navWrapper .navA {
    margin: 0 15px;
  }
}
/* end media Query */
/* 
 *  Owl Carousel - Animate Plugin
 */
/* line 587, ../sass/gridster.screen.scss */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 594, ../sass/gridster.screen.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}

/* line 598, ../sass/gridster.screen.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}

/* line 602, ../sass/gridster.screen.scss */
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*  
 * 	Owl Carousel - Auto Height Plugin
 */
/* line 630, ../sass/gridster.screen.scss */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
/* line 641, ../sass/gridster.screen.scss */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

/* line 650, ../sass/gridster.screen.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

/* line 655, ../sass/gridster.screen.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 664, ../sass/gridster.screen.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 671, ../sass/gridster.screen.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 683, ../sass/gridster.screen.scss */
.owl-carousel.owl-loaded {
  display: block;
}

/* line 687, ../sass/gridster.screen.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

/* line 692, ../sass/gridster.screen.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}

/* line 696, ../sass/gridster.screen.scss */
.owl-carousel .owl-refresh .owl-item {
  display: none;
}

/* line 700, ../sass/gridster.screen.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 713, ../sass/gridster.screen.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

/* line 719, ../sass/gridster.screen.scss */
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

/* line 726, ../sass/gridster.screen.scss */
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

/* line 734, ../sass/gridster.screen.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}

/* line 738, ../sass/gridster.screen.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 743, ../sass/gridster.screen.scss */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
/* line 750, ../sass/gridster.screen.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

/* line 759, ../sass/gridster.screen.scss */
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
/* line 766, ../sass/gridster.screen.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

/* line 772, ../sass/gridster.screen.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

/* line 791, ../sass/gridster.screen.scss */
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

/* line 799, ../sass/gridster.screen.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

/* line 804, ../sass/gridster.screen.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

/* line 820, ../sass/gridster.screen.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
