/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'letra';
  src: url("../fonts/letrapro.eot");
  src: url("../fonts/letrapro.eot?#iefix") format("embedded-opentype"), url("../fonts/letrapro.woff") format("woff"), url("../fonts/letrapro.ttf") format("truetype"), url("../fonts/letrapro.svg#letra_proheadline") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */
/* line 21, ../sass/_grid.scss */
.col {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

/* 1. 12 Column Grid 0px - Infinity 
----------------------------------------------------------------------------- 

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) {
  /* line 62, ../sass/_grid.scss */
  .col {
    margin-left: 0%;
    padding: 0 1%;
  }

  /* --- Gridpak variables ---*/
  /* line 74, ../sass/_grid.scss */
  .row {
    overflow: auto;
  }

  /* line 78, ../sass/_grid.scss */
  .row .col:first-child {
    margin-left: 0;
  }

  /*
  Add your semantic classnames in alongside their corresponding spans here. e.g.
  
  .span_3,
  .my_semantic_class_name {
      ...
  }
  
  */
  /* line 92, ../sass/_grid.scss */
  .span_1 {
    width: 8.33333333%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }
  /* line 94, ../sass/_grid.scss */
  .span_1.insideMarginR {
    width: 7.33333333%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 1%;
  }

  /* line 98, ../sass/_grid.scss */
  .span_2 {
    width: 16.66666667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 101, ../sass/_grid.scss */
  .span_3 {
    width: 25%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 104, ../sass/_grid.scss */
  .span_4 {
    width: 33.33333333%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 107, ../sass/_grid.scss */
  .span_5 {
    width: 41.66666667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 110, ../sass/_grid.scss */
  .span_6 {
    width: 50%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 113, ../sass/_grid.scss */
  .span_7 {
    width: 58.33333333%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 116, ../sass/_grid.scss */
  .span_8 {
    width: 66.66666667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }
  /* line 118, ../sass/_grid.scss */
  .span_8.insideMarginR {
    width: 65.66666667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 1%;
  }

  /* line 122, ../sass/_grid.scss */
  .span_9 {
    width: 75%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 125, ../sass/_grid.scss */
  .span_10 {
    width: 83.33333333%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 128, ../sass/_grid.scss */
  .span_11 {
    width: 91.66666667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 131, ../sass/_grid.scss */
  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
/*$color-bg-light: #979797; // used for borders/spacers and knocked-back text etc*/
/* line 133, ../sass/screen.scss */
body, html {
  font-family: Helvetica Neue;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #fff;
  color: #000000;
  font-size: 110%;
  line-height: 1em;
  font-weight: 300;
}
/* line 145, ../sass/screen.scss */
body a, html a {
  text-decoration: none;
  font-weight: normal;
  color: #4A90E2;
}

/* line 152, ../sass/screen.scss */
.ember-view {
  height: 100%;
  width: 100%;
}

/* line 157, ../sass/screen.scss */
#SiteWrapper {
  color: #000000;
  background-color: #F7F7F7;
  max-width: 1440px;
  height: 100%;
  margin: 0px auto;
  overflow: auto;
  /* ADDITIONAL GRID STYLES */
  /* END ADDITIONAL GRID STYLES */
}
/* line 165, ../sass/screen.scss */
#SiteWrapper .col {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 60px;
  /*&.floatVertical {
      margin-top: $margin-main/4;
      margin-bottom:$margin-main/4;
      padding-top:$margin-main/4;
      height: $height-column - ($margin-main/2);
  }*/
}
/* line 170, ../sass/screen.scss */
#SiteWrapper .col.alignL {
  padding-left: 0px;
  text-align: left;
}
/* line 175, ../sass/screen.scss */
#SiteWrapper .col.alignR {
  padding-right: 0px;
  text-align: right;
}
/* line 187, ../sass/screen.scss */
#SiteWrapper .noWrap {
  white-space: nowrap;
}
/* line 191, ../sass/screen.scss */
#SiteWrapper .bold {
  font-weight: 500;
}
/* line 195, ../sass/screen.scss */
#SiteWrapper .clear {
  clear: both;
  height: 0px;
}
/* line 200, ../sass/screen.scss */
#SiteWrapper .left {
  float: left;
}
/* line 204, ../sass/screen.scss */
#SiteWrapper .right {
  float: right;
}
/* line 208, ../sass/screen.scss */
#SiteWrapper .centered {
  margin-left: auto;
  margin-right: auto;
}
/* line 213, ../sass/screen.scss */
#SiteWrapper .relative {
  position: relative;
}
/* line 217, ../sass/screen.scss */
#SiteWrapper .border {
  border: solid 2px #E7E7E7;
}
/* line 221, ../sass/screen.scss */
#SiteWrapper .borderL {
  border-left: solid 2px #E7E7E7;
}
/* line 225, ../sass/screen.scss */
#SiteWrapper .borderT {
  border-top: solid 2px #E7E7E7;
}
/* line 229, ../sass/screen.scss */
#SiteWrapper .borderR {
  border-right: solid 2px #E7E7E7;
}
/* line 233, ../sass/screen.scss */
#SiteWrapper .borderB {
  border-bottom: solid 2px #E7E7E7;
}
/* line 237, ../sass/screen.scss */
#SiteWrapper .radiusT {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 241, ../sass/screen.scss */
#SiteWrapper .radiusR {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 245, ../sass/screen.scss */
#SiteWrapper .radiusB {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 249, ../sass/screen.scss */
#SiteWrapper .radiusL {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 253, ../sass/screen.scss */
#SiteWrapper .radiusR_XL {
  -moz-border-radius-topright: 100px;
  -webkit-border-top-right-radius: 100px;
  border-top-right-radius: 100px;
  -moz-border-radius-bottomright: 100px;
  -webkit-border-bottom-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
/* line 257, ../sass/screen.scss */
#SiteWrapper .radiusL_XL {
  -moz-border-radius-topleft: 100px;
  -webkit-border-top-left-radius: 100px;
  border-top-left-radius: 100px;
  -moz-border-radius-bottomleft: 100px;
  -webkit-border-bottom-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
/* line 261, ../sass/screen.scss */
#SiteWrapper .radiusTR {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 265, ../sass/screen.scss */
#SiteWrapper .marginLXL {
  margin-left: 2em;
}
/* line 269, ../sass/screen.scss */
#SiteWrapper .marginTXL {
  margin-top: 2em;
}
/* line 273, ../sass/screen.scss */
#SiteWrapper .marginRXL {
  margin-right: 2em;
}
/* line 277, ../sass/screen.scss */
#SiteWrapper .marginBXL {
  margin-bottom: 2em;
}
/* line 282, ../sass/screen.scss */
#SiteWrapper .marginLL {
  margin-left: 1em;
}
/* line 286, ../sass/screen.scss */
#SiteWrapper .marginTL {
  margin-top: 1em;
}
/* line 290, ../sass/screen.scss */
#SiteWrapper .marginRL {
  margin-right: 1em;
}
/* line 294, ../sass/screen.scss */
#SiteWrapper .marginBL {
  margin-bottom: 1em;
}
/* line 298, ../sass/screen.scss */
#SiteWrapper .marginLS {
  margin-left: 0.5em;
}
/* line 302, ../sass/screen.scss */
#SiteWrapper .marginTS {
  margin-top: 0.5em;
}
/* line 306, ../sass/screen.scss */
#SiteWrapper .marginRS {
  margin-right: 0.5em;
}
/* line 310, ../sass/screen.scss */
#SiteWrapper .marginBS {
  margin-bottom: 0.5em;
}
/* line 314, ../sass/screen.scss */
#SiteWrapper .marginLXS {
  margin-left: 0.25em;
}
/* line 318, ../sass/screen.scss */
#SiteWrapper .marginTXS {
  margin-top: 0.25em;
}
/* line 322, ../sass/screen.scss */
#SiteWrapper .marginRXS {
  margin-right: 0.25em;
}
/* line 326, ../sass/screen.scss */
#SiteWrapper .marginBXS {
  margin-bottom: 0.25em;
}
/* line 330, ../sass/screen.scss */
#SiteWrapper .paddingTS {
  padding-top: 0.5em;
}
/* line 334, ../sass/screen.scss */
#SiteWrapper .paddingRS {
  padding-right: 0.5em;
}
/* line 338, ../sass/screen.scss */
#SiteWrapper .paddingBS {
  padding-bottom: 0.5em;
}
/* line 342, ../sass/screen.scss */
#SiteWrapper .paddingLS {
  padding-left: 0.5em;
}
/* line 346, ../sass/screen.scss */
#SiteWrapper .paddingTL {
  padding-top: 1em;
}
/* line 350, ../sass/screen.scss */
#SiteWrapper .paddingRL {
  padding-right: 1em;
}
/* line 354, ../sass/screen.scss */
#SiteWrapper .paddingBL {
  padding-bottom: 1em;
}
/* line 358, ../sass/screen.scss */
#SiteWrapper .paddingLL {
  padding-left: 1em;
}
/* line 362, ../sass/screen.scss */
#SiteWrapper .paddingTNone {
  padding-top: 0px;
}
/* line 366, ../sass/screen.scss */
#SiteWrapper .paddingRNone {
  padding-right: 0px;
}
/* line 370, ../sass/screen.scss */
#SiteWrapper .paddingBNone {
  padding-bottom: 0px;
}
/* line 374, ../sass/screen.scss */
#SiteWrapper .paddingLNone {
  padding-left: 0px;
}
/* line 378, ../sass/screen.scss */
#SiteWrapper .alignC, #SiteWrapper .center {
  text-align: center;
}
/* line 382, ../sass/screen.scss */
#SiteWrapper .alignL {
  text-align: left;
}
/* line 386, ../sass/screen.scss */
#SiteWrapper .alignR {
  text-align: right;
}
/* line 390, ../sass/screen.scss */
#SiteWrapper .textOnly {
  display: none;
}
/* line 394, ../sass/screen.scss */
#SiteWrapper .noAnimation {
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: none;
  -o-transition-timing-function: none;
  -webkit-transition-timing-function: none;
  transition-timing-function: none;
}
/* line 400, ../sass/screen.scss */
#SiteWrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 406, ../sass/screen.scss */
#SiteWrapper h1, #SiteWrapper h2, #SiteWrapper h3, #SiteWrapper h4, #SiteWrapper h5, #SiteWrapper h6 {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
/* line 412, ../sass/screen.scss */
#SiteWrapper h1 {
  font-size: 190%;
}
/* line 416, ../sass/screen.scss */
#SiteWrapper h2 {
  font-size: 140%;
  margin-bottom: 2em;
}
/* line 421, ../sass/screen.scss */
#SiteWrapper .button {
  text-align: center;
  background: #00447C;
  color: #ffffff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 428, ../sass/screen.scss */
#SiteWrapper .smallText {
  font-size: 80%;
  line-height: 1.5em;
}
/* line 437, ../sass/screen.scss */
#SiteWrapper footer, #SiteWrapper section {
  padding: 2em;
  overflow: auto;
}
/* line 442, ../sass/screen.scss */
#SiteWrapper header, #SiteWrapper footer {
  color: #ffffff;
  background-color: #0065B7;
}
/* line 447, ../sass/screen.scss */
#SiteWrapper header {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: header-and-nav-specific styles
  ******************************************************************/
}
/* line 449, ../sass/screen.scss */
#SiteWrapper header.report {
  background-image: url(../images/NHS-England-Logo.png);
  background-position: 40px center;
  background-size: 250px;
  background-repeat: no-repeat;
}
/* line 457, ../sass/screen.scss */
#SiteWrapper header .backLink img {
  width: 44px;
  height: 44px;
}
/* line 14, ../sass/_header.scss */
#SiteWrapper header .headerWrapper {
  width: 100%;
  top: 0;
  position: relative;
  z-index: 9;
}
/* line 20, ../sass/_header.scss */
#SiteWrapper header .headerWrapper #NHSEnglandLogo {
  position: absolute;
  left: 20px;
  top: 50px;
  z-index: 4;
}
/* line 26, ../sass/_header.scss */
#SiteWrapper header .headerWrapper #NHSEnglandLogo img {
  width: 240px;
}
/* line 34, ../sass/_header.scss */
#SiteWrapper header #TopNav .iconTitle {
  color: #fff;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font-size: 10px;
  margin: 0 auto;
  margin-top: 12px;
  display: block;
}
/* line 43, ../sass/_header.scss */
#SiteWrapper header #TopNav button {
  display: block;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}
/* line 50, ../sass/_header.scss */
#SiteWrapper header #TopNav button svg {
  fill: #fff;
  display: block;
  margin: 0 auto;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  stroke-width: 0;
}
/* line 58, ../sass/_header.scss */
#SiteWrapper header #TopNav button.backButton, #SiteWrapper header #TopNav button.presentation, #SiteWrapper header #TopNav button.infoButton {
  position: absolute;
  top: 50%;
  margin-top: -14px;
}
/* line 63, ../sass/_header.scss */
#SiteWrapper header #TopNav button.backButton.backButton, #SiteWrapper header #TopNav button.presentation.backButton, #SiteWrapper header #TopNav button.infoButton.backButton {
  margin-left: -14px;
  left: 50%;
  opacity: 0;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 70, ../sass/_header.scss */
#SiteWrapper header #TopNav button.backButton.presentation, #SiteWrapper header #TopNav button.presentation.presentation, #SiteWrapper header #TopNav button.infoButton.presentation {
  right: 70px;
}
/* line 74, ../sass/_header.scss */
#SiteWrapper header #TopNav button.backButton.infoButton, #SiteWrapper header #TopNav button.presentation.infoButton, #SiteWrapper header #TopNav button.infoButton.infoButton {
  right: 20px;
}
/* line 80, ../sass/_header.scss */
#SiteWrapper header #TopNav button:hover svg, #SiteWrapper header #TopNav button:hover .iconTitle {
  color: #cccccc;
  fill: #cccccc;
  stroke: #cccccc;
  stroke-width: 1;
}
/* line 89, ../sass/_header.scss */
#SiteWrapper header #TopNav #FirstNav {
  padding: 41px 0;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #c4c4c4;
  background: #0065B7;
}
/* line 97, ../sass/_header.scss */
#SiteWrapper header #TopNav #SecondNav, #SiteWrapper header #TopNav #WidgetNavWrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 18px 0;
  border-bottom: 1px solid #969696;
  background: #FFFFFF;
}
/* line 106, ../sass/_header.scss */
#SiteWrapper header #TopNav #SecondNav li, #SiteWrapper header #TopNav #WidgetNavWrapper li {
  display: inline;
}
/* line 110, ../sass/_header.scss */
#SiteWrapper header #TopNav #SecondNav button, #SiteWrapper header #TopNav #WidgetNavWrapper button {
  margin: 0 36px;
  display: inline-block;
  text-decoration: none;
}
/* line 115, ../sass/_header.scss */
#SiteWrapper header #TopNav #SecondNav button .iconTitle, #SiteWrapper header #TopNav #WidgetNavWrapper button .iconTitle {
  margin-top: 11px;
  color: #0065B7;
}
/* line 120, ../sass/_header.scss */
#SiteWrapper header #TopNav #SecondNav button svg, #SiteWrapper header #TopNav #WidgetNavWrapper button svg {
  fill: #0065B7;
}
/* line 127, ../sass/_header.scss */
#SiteWrapper header #TopNav #WidgetNavWrapper {
  padding: 11px 0;
}
/* line 130, ../sass/_header.scss */
#SiteWrapper header #TopNav #WidgetNavWrapper .widgetCarousel {
  width: 55.293%;
  margin-left: 7.297%;
}
/* line 135, ../sass/_header.scss */
#SiteWrapper header #TopNav #WidgetNavWrapper .widgetPrev {
  width: 15px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 7.297%;
  margin-left: -25px;
  z-index: 99;
}
/* line 146, ../sass/_header.scss */
#SiteWrapper header #TopNav #WidgetNavWrapper .widgetNext {
  width: 15px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 62.59%;
  margin-left: 10px;
  z-index: 99;
}
/* line 157, ../sass/_header.scss */
#SiteWrapper header #TopNav #WidgetNavWrapper .widgetItem {
  width: 124px;
  height: 75px;
  background: #e6e6e6;
  border: 1px solid #fff;
  outline: none;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  display: block;
}
/* line 167, ../sass/_header.scss */
#SiteWrapper header #TopNav #WidgetNavWrapper .addWidget {
  height: 75px;
  background: #fff;
  color: #38c02e;
  padding: 0;
  display: block;
  position: absolute;
  left: 70%;
  top: 50%;
  margin-top: -37px;
  border: none;
}
/* line 179, ../sass/_header.scss */
#SiteWrapper header #TopNav #WidgetNavWrapper .addWidget span {
  font-size: 10px;
  margin: 0 auto;
  margin-top: 12px;
  display: block;
}
/* line 475, ../sass/screen.scss */
#SiteWrapper footer {
  height: 658px;
}
/* line 484, ../sass/screen.scss */
#SiteWrapper.boardReport .red {
  background-color: #D0021B;
}
/* line 488, ../sass/screen.scss */
#SiteWrapper.boardReport .redAmber {
  background-color: #EB8D57;
}
/* line 492, ../sass/screen.scss */
#SiteWrapper.boardReport .amber {
  background-color: #F5A623;
}
/* line 496, ../sass/screen.scss */
#SiteWrapper.boardReport .amberGreen {
  background-color: #DADA36;
}
/* line 500, ../sass/screen.scss */
#SiteWrapper.boardReport .green {
  background-color: #7ED321;
}
/* line 504, ../sass/screen.scss */
#SiteWrapper.boardReport .blue {
  background-color: #0065B7;
}
/* line 508, ../sass/screen.scss */
#SiteWrapper.boardReport .missing {
  background-color: #E7E7E7;
}
/* line 512, ../sass/screen.scss */
#SiteWrapper.boardReport .seperator {
  position: absolute;
  border: solid 1px #E7E7E7;
  top: 10%;
  bottom: 10%;
  left: 0px;
}
/* line 519, ../sass/screen.scss */
#SiteWrapper.boardReport .seperator.right {
  right: 0px;
  left: auto;
}
/* line 525, ../sass/screen.scss */
#SiteWrapper.boardReport .accordionHandle {
  background-image: url(../images/IndicatorTriangle_right@2x.png);
  background-size: 25%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
  display: inline-block;
  cursor: pointer;
}
/* line 534, ../sass/screen.scss */
#SiteWrapper.boardReport .accordionHandle.active {
  background-image: url(../images/IndicatorTriangle_down@2x.png);
}
/* line 539, ../sass/screen.scss */
#SiteWrapper.boardReport .accordionContent {
  display: none;
}
/* line 543, ../sass/screen.scss */
#SiteWrapper.boardReport .noBackground {
  background: none;
}
/* line 547, ../sass/screen.scss */
#SiteWrapper.boardReport .indicator {
  position: relative;
  color: #ffffff;
}
/* line 551, ../sass/screen.scss */
#SiteWrapper.boardReport .indicator .currentValue {
  font-size: 160%;
}
/* line 555, ../sass/screen.scss */
#SiteWrapper.boardReport .indicator .previousValue {
  /*margin:($margin-main / 4) 0;*/
  border-left: solid 2px #E7E7E7;
  font-size: 80%;
  padding-left: 0.5em;
}
/* line 562, ../sass/screen.scss */
#SiteWrapper.boardReport .indicator .icon {
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 568, ../sass/screen.scss */
#SiteWrapper.boardReport .indicator.up, #SiteWrapper.boardReport .indicator.even, #SiteWrapper.boardReport .indicator.down {
  background-image: url(../images/IndicatorArrow_up@2x.png);
  background-size: 40%;
  background-position: 90% center;
  background-repeat: no-repeat;
}
/* line 574, ../sass/screen.scss */
#SiteWrapper.boardReport .indicator.up.even, #SiteWrapper.boardReport .indicator.even.even, #SiteWrapper.boardReport .indicator.down.even {
  background-image: url(../images/IndicatorArrow_even@2x.png);
}
/* line 578, ../sass/screen.scss */
#SiteWrapper.boardReport .indicator.up.down, #SiteWrapper.boardReport .indicator.even.down, #SiteWrapper.boardReport .indicator.down.down {
  background-image: url(../images/IndicatorArrow_down@2x.png);
}
/* line 584, ../sass/screen.scss */
#SiteWrapper.boardReport .chart {
  padding-top: 0.5em;
  /*padding-bottom:0px;*/
  /*-- Chart --*/
  /*-- Axis --*/
  /*-- Grid --*/
  /*-- Text on Chart --*/
  /*-- Line --*/
  /*-- Point --*/
  /*-- Bar --*/
  /*-- Arc --*/
  /*-- Focus --*/
  /*-- Region --*/
  /*-- Brush --*/
  /*-- Select - Drag --*/
  /*-- Legend --*/
  /*-- Tooltip --*/
}
/* line 588, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3 svg {
  font: 10px sans-serif;
}
/* line 592, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3 path, #SiteWrapper.boardReport .chart .c3 line {
  fill: none;
  stroke: #000;
}
/* line 597, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 603, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-legend-item-tile,
#SiteWrapper.boardReport .chart .c3-xgrid-focus,
#SiteWrapper.boardReport .chart .c3-ygrid,
#SiteWrapper.boardReport .chart .c3-event-rect,
#SiteWrapper.boardReport .chart .c3-bars path {
  shape-rendering: crispEdges;
}
/* line 611, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arc path {
  stroke: #fff;
}
/* line 615, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}
/* line 638, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-grid line {
  stroke: #aaa;
}
/* line 642, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-grid text {
  fill: #aaa;
}
/* line 646, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-xgrid, #SiteWrapper.boardReport .chart .c3-ygrid {
  stroke-dasharray: 3 3;
}
/* line 656, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-text.c3-empty {
  fill: #808080;
  font-size: 2em;
}
/* line 661, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-line {
  stroke-width: 1px;
}
/* line 665, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}
/* line 670, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-selected-circle {
  fill: white;
  stroke-width: 2px;
}
/* line 675, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-bar {
  stroke-width: 0;
}
/* line 679, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-bar._expanded_ {
  fill-opacity: 0.75;
}
/* line 683, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}
/* line 688, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-target.c3-focused {
  opacity: 1;
}
/* line 692, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-target.c3-focused path.c3-line, #SiteWrapper.boardReport .chart .c3-target.c3-focused path.c3-step {
  stroke-width: 2px;
}
/* line 696, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-target.c3-defocused {
  opacity: 0.3 !important;
}
/* line 700, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-region {
  fill: steelblue;
  fill-opacity: .1;
}
/* line 705, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-region.regionYR {
  fill: red;
  fill-opacity: .9;
}
/* line 710, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-region.regionYA {
  fill: yellow;
  fill-opacity: .1;
}
/* line 715, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-region.regionYG {
  fill: green;
  fill-opacity: .1;
}
/* line 720, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-brush .extent {
  fill-opacity: .1;
}
/* line 727, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-legend-item {
  font-size: 12px;
}
/* line 731, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-legend-item-hidden {
  opacity: 0.15;
}
/* line 735, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1;
}
/* line 742, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-tooltip-container {
  z-index: 10;
}
/* line 746, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9;
}
/* line 757, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-tooltip tr {
  border: 1px solid #CCC;
}
/* line 761, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
}
/* line 769, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}
/* line 776, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
/* line 783, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-tooltip td.value {
  text-align: right;
}
/* line 787, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-area {
  stroke-width: 0;
  opacity: 0.2;
}
/* line 792, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none;
}
/* line 797, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}
/* line 802, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777;
}
/* line 806, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777;
}
/* line 810, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/
}
/* line 824, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .indicatorChart {
  width: 90%;
  padding: 0px;
  margin: 0px;
}
/* line 830, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .sampleImage {
  width: 100%;
}
/* line 834, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .left {
  width: 49%;
}
/* line 837, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .left:first-of-type {
  text-align: right;
}
/* line 842, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .col {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 80px;
  line-height: 80px;
}
/* line 851, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .blockRow.blockRow1 .block {
  width: 100%;
  padding-left: 15%;
}
/* line 858, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .blockRow.blockRow5 .block {
  width: 18%;
  margin-left: 2%;
}
/* line 859, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .blockRow.blockRow5 .block:first-of-type {
  margin-left: 0;
}
/* line 869, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .block {
  position: relative;
  height: 80px;
  line-height: 80px;
  padding-left: 3%;
  color: #ffffff;
  text-align: left;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 879, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .block .currentValue {
  font-size: 190%;
}
/* line 883, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .block .previousValue {
  position: absolute;
  right: 10%;
  bottom: 15%;
  line-height: 1em;
}
/* line 890, ../sass/screen.scss */
#SiteWrapper.boardReport .chart .block a {
  color: #ffffff;
}
/* line 898, ../sass/screen.scss */
#SiteWrapper.boardReport .reportIndex .row .col {
  height: auto;
}
/* line 901, ../sass/screen.scss */
#SiteWrapper.boardReport .reportIndex .row .col p {
  padding-bottom: 1em;
}
/* line 912, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row .col {
  padding-top: 1.25em;
  font-weight: 500;
}
/* line 916, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row .col:first-of-type {
  font-weight: 400;
}
/* line 920, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row .col:last-of-type {
  padding-top: 1em;
  font-weight: 400;
}
/* line 926, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row:first-of-type {
  margin-top: 0.5em;
}
/* line 929, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row:first-of-type .col {
  font-weight: 400;
  font-size: 80%;
}
/* line 933, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row:first-of-type .col:first-of-type {
  font-weight: 500;
  font-size: 100%;
}
/* line 941, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row:last-of-type .col {
  border-bottom: solid 2px #E7E7E7;
  height: 70px;
}
/* line 945, ../sass/screen.scss */
#SiteWrapper.boardReport .finance .group .row:last-of-type .col:last-of-type {
  border-bottom: none;
  height: auto;
}
/* line 954, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table {
  width: 100%;
  border-collapse: separate;
}
/* line 960, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table:first-of-type thead th {
  padding-top: 0px;
}
/* line 968, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tr td, #SiteWrapper.boardReport .finance table tr th {
  text-align: center;
  padding: 1em 0.5em;
  border-left: solid 1px #CCCCCC;
  font-weight: 500;
}
/* line 974, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tr td:first-of-type, #SiteWrapper.boardReport .finance table tr th:first-of-type {
  text-align: left;
  font-weight: 300;
}
/* line 979, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tr td:last-of-type, #SiteWrapper.boardReport .finance table tr th:last-of-type {
  border-left: none;
}
/* line 983, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tr td.indicator, #SiteWrapper.boardReport .finance table tr th.indicator {
  font-size: 140%;
}
/* line 989, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tr:nth-child(even) td {
  border-top: solid 1px #CCCCCC;
  border-bottom: solid 1px #CCCCCC;
}
/* line 993, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tr:nth-child(even) td:first-of-type {
  border-left: none;
}
/* line 1002, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table thead tr th {
  border: none;
  font-weight: 400;
  padding-top: 2em;
}
/* line 1007, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table thead tr th:first-of-type {
  font-weight: 500;
}
/* line 1015, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tbody tr:first-of-type {
  background-color: #E7E7E7;
}
/* line 1018, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tbody tr:first-of-type td {
  border-top: solid 1px #CCCCCC;
}
/* line 1021, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tbody tr:first-of-type td:last-of-type {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 1027, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tbody tr:last-of-type {
  background-color: #E7E7E7;
}
/* line 1030, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tbody tr:last-of-type td {
  border-bottom: solid 1px #CCCCCC;
}
/* line 1034, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tbody tr:last-of-type td:first-of-type {
  border-left: solid 1px #CCCCCC;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 1040, ../sass/screen.scss */
#SiteWrapper.boardReport .finance table tbody tr:last-of-type td:last-of-type {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 1050, ../sass/screen.scss */
#SiteWrapper.boardReport .supplimentary table {
  width: 100%;
  border-collapse: separate;
}
/* line 1056, ../sass/screen.scss */
#SiteWrapper.boardReport .supplimentary table thead tr th {
  border-bottom: solid 2px #E7E7E7;
  border-top: solid 2px #E7E7E7;
  padding-top: 2em;
  font-weight: 500;
}
/* line 1066, ../sass/screen.scss */
#SiteWrapper.boardReport .supplimentary table tbody tr {
  border: solid 2px #E7E7E7;
}
/* line 1069, ../sass/screen.scss */
#SiteWrapper.boardReport .supplimentary table tbody tr td {
  padding-top: 1em;
  padding-bottom: 1em;
}

/*@include keyframes(LocationLoading){
    0% {
        background-image: url('/img/location@2x.png');
    }

    50% {
        background-image: url('/img/location_loading@2x.png');
    }

    100% {
        background-image: url('/img/location@2x.png');
    }
}

@include keyframes(AddressLoading){
    0% {
        background-image: url('/img/search@2x.png');
    }

    50% {
        background-image: url('/img/search_loading@2x.png');
    }

    100% {
        background-image: url('/img/search@2x.png');
    }
}*/
/*********************
RETINA
Include retina-specific overrides - most likely, 2x image alternatives
*********************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Retina-specific styles
  ******************************************************************/
}
/*********************
MOBILE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
@media only screen and (min-width: 0px) and (max-width: 270px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 321px and lower Stylesheet
  ******************************************************************/
}
@media only screen and (min-width: 271px) and (max-width: 321px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 320px and lower Stylesheet
  ******************************************************************/
}
@media only screen and (max-width: 400px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 768px and up Stylesheet
  ******************************************************************/
}
@media only screen and (min-width: 401px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 768px and up Stylesheet
  ******************************************************************/
}
@media only screen and (max-height: 440px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 321px and lower Stylesheet
  ******************************************************************/
}
