/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */

/* Reusable column setup */

@mixin col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.col {
   @include col;
}

@mixin span($num, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment) {
    $one_col: (100% - ($gutter_pc * ($max_columns - 1))) / $max_columns;
    width:(($one_col * $num) + ($gutter_pc * ($num - 1))) + ($widthMarginAdjustment);
    border-left-width:$gutter_px;
    padding:$padding;
    margin-left:$gutter_pc;
    @if $widthMarginAdjustment != '0%' {
        margin-right: -($widthMarginAdjustment);
    }
    
}

@mixin span_first {
    margin-left:0;
}
 

    /* 1. 12 Column Grid 0px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */	
    
	@media (min-width: 0px) {
        
        .col {
            margin-left:0%;
            padding:0 1%;
        }
        
        /* --- Gridpak variables ---*/ 
        $max_columns: 12;
        $padding: 0 1%;
        $gutter_px: 0;
        $gutter_pc: 0%;
        $widthMarginAdjustment: 0%;

        .row {
            overflow:auto;
        }
        
        .row .col:first-child {
            @include span_first;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        
        */
        .span_1 {
            @include span(1, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
            &.insideMarginR {
                @include span(1, $gutter_pc, $gutter_px, $padding, $max_columns, -1%);
            }
        }
        .span_2 {
            @include span(2, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_3 {
            @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_4 {
            @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_5 {
            @include span(5, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_6 {
            @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_7 {
            @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_8 {
            @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
            &.insideMarginR {
                @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns, -1%);
            }
        }
        .span_9 {
            @include span(9, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_10 {
            @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_11 {
            @include span(11, $gutter_pc, $gutter_px, $padding, $max_columns, $widthMarginAdjustment);
        }
        .span_12 {
            @include span_first;
            width:100%;
        }
    }
 
