
#SiteWrapper {
    background-color: none;

    .button {
        display: none;
    }

    .backLink {
        display: none;
    }

    #MainWrapper {
        .accordionHandle {
            visibility: hidden;
        }
    }

    header {
        background: none;
        color: #000;

        #TopNav {
            button {
                visibility:hidden;
            }
        }

        h1 {
            margin-left: $margin-main/2;
        }

        #NHSEnglandLogo svg {
            display: none;
        }
    }
}

.print-hide {
    display: none;
}
.print-show {
    display: inline-block;
}

.borderL--no-print {
    border-left: 0 !important;
}

.print-nhs-logo {
    float: right;
}