$color-white: #FFFFFF; // white
$color-bg: #F7F7F7; // base background white?
/*$color-bg-light: #979797; // used for borders/spacers and knocked-back text etc*/
$color-bg-light: #E7E7E7; // used for borders/spacers and knocked-back text etc
$color-bg-medium: #D4D4D4; // used for noREG background
$color-bg-dark: #2D2D2D; // just off black - used on widget flips etc
$color-grey-darker: #CCCCCC; //used for table lines / borders etc
$color-bg-main: #0065B7; // header / footer blue
$color-highlight: #00447C; // header buttons etc
$color-font-light: #ffffff;
$color-font-main: #000000;
$color-font-link: #4A90E2;
$color-rag-red: #D0021B;
$color-rag-red-amber: #EB8D57;
$color-rag-amber: #FFB800;
$color-rag-amber-green: #DADA36;
$color-rag-green: #7ED321;
$color-rag-blue: #0065B7;

$sansserif: 'Arial', 'sans-serif';
$helvneue: 'HelveticaNeueLT-Roman', $sansserif;
$helvneuemed: 'HelveticaNeueLT-Medium', $helvneue;
$helvneuelight: 'HelveticaNeueLT-Light', $helvneue;
$font-family-main: $sansserif;

$font-size-title: 190%;
$font-size-heading: 160%;
$font-size-heading-sub: 140%;
$font-size-main: 100%;
$font-size-small: 80%;
$font-weight-heavy: 600;
$font-weight-bold: 600;
$font-weight-normal: 100;
$font-weight-light: 100;
$margin-main: 2em; //40px;
$height-column: 60px;
$border-main: solid 1px $color-bg-light;
$border-thin-dark: solid 1px $color-grey-darker;