/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/css3/animation";
@import "_mixins";
@import "_grid";
@import "_gridster";

@import "custom_fonts";
@import "_variables";


body, html {
    font-family: $font-family-main;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
    color: $color-font-main;
    font-size: 110%;
    line-height: 1em;
    font-weight: $font-weight-light;

    a {
        text-decoration: none;
        font-weight: normal;
        color: $color-font-link;
    }
}

body > .ember-view {
    height: 100%;
    width: 100%;
}

#SiteWrapper, #MainWrapper, #NavPage { // #MainWrapper
    color: $color-font-main;
    background-color: $color-bg;
    height: 100%;
    margin: 0px auto;
    overflow: auto;
    /* ADDITIONAL GRID STYLES */
    .col {
        padding-top: ($margin-main / 2);
        padding-bottom: ($margin-main / 2);
        //height: $height-column;
        &.alignL {
            padding-left: 0px;
            text-align: left;
        }

        &.alignR {
            padding-right: 0px;
            text-align: right;
        }
        /*&.floatVertical {
            margin-top: $margin-main/4;
            margin-bottom:$margin-main/4;
            padding-top:$margin-main/4;
            height: $height-column - ($margin-main/2);
        }*/
    }
    /* END ADDITIONAL GRID STYLES */
    * {
        @include box-sizing(border-box);
    }

    @import "_layoutHelpers";

    h1, h2, h3, h4, h5, h6 {
        font-weight: $font-weight-normal;
        margin: 0px;
        padding: 0px;
        line-height: 1em;
    }

    h1 {
        font-size: $font-size-title;
    }

    h2 {
        font-size: $font-size-heading-sub;
        margin-bottom: $margin-main;
        font-weight: $font-weight-bold;
    }

    .button {
        text-align: center;
        background: $color-highlight;
        color: $color-font-light;
        @include border-radius(8px);
        cursor: pointer;
    }

    .smallText {
        font-size: $font-size-small;
        line-height: 1.5em;
    }

    .red {
        background-color: $color-rag-red;
    }

    .amberRed {
        background-color: $color-rag-red-amber;
    }

    .amber {
        background-color: $color-rag-amber;
    }

    .amberGreen {
        background-color: $color-rag-amber-green;
    }

    .green {
        background-color: $color-rag-green;
    }

    .blue {
        background-color: $color-rag-blue;
    }

    .missing {
        background-color: $color-bg-light;
    }

    .noRAG {
        background-color: $color-bg-medium;
        color:$color-font-main;
    }

    /* Fullscreen Modal */
    .modalHighlightedive {
        z-index: 4;
    }

    .fullScreen {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        background-color: $color-white;
        z-index: 2;
        /*@include filter(blur,40px);*/
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 0.6;
    }
    /* End Fullscreen Modal */
    section {
        padding: $margin-main;
        overflow: auto;
    }

    header {
        color: $color-font-light;
        background-color: $color-bg-main;
    }

    header {

        &.report {
            background-image: url(../images/NHS-England-Logo.png);
            background-position: 40px center;
            background-size: 250px;
            background-repeat: no-repeat;
        }

        .backLink {
            img {
                width: 44px;
                height: 44px;
            }
        }



        @import "_header";
    }

    #MainContent {
    }

    .chooseBoardReport {
        width: auto;
        font-size: $font-size-small;
        font-weight: $font-weight-light;
        position: relative;

        .icon {
            position: absolute;
            top: 0.65em;
            // top: $margin-main/4;
            right: $margin-main/2;
        }

        button {
            padding: $margin-main/2;
            @include animate(all, 0.1s, linear);
            width: 100%;
            text-align: left;
        }

        .listWrapper {
            position: relative;

            ul {
                @include opacity(0);
                @include animate(all, 0.1s, linear);
                @include border-bottom-radius(10px);
                @include border-bottom-radius(10px);
                top: 0px;
                background: $color-white;
                width: 100%;
                position: absolute;

                li {
                    padding: $margin-main / 2;
                    border-bottom: $border-main;

                    a {
                        color: $color-grey-darker;
                        text-decoration: none;
                    }
                }
            }
        }

        &:hover {
            button {
                @include border-bottom-radius(0px);
            }

            .listWrapper {
                ul {
                    @include opacity(1);
                    visibility: visible;
                }
            }
        }
    }


    &.boardReport {

        #annex_c {
            display: none;
        }

        &.boardReportSummary {
            .missing.block {
                background-color: $color-bg;
                color: $color-bg;
            }
            /* override some of the standard block styles to account for :first-of-type now they're in ember-view componenet tags */
            .chart .blockRow.blockRow5, .chart .blockRow.blockRow1 {
                .ember-view {
                    .block {
                        margin-left: $margin-main/4;

                        .currentValue {
                            position: absolute;
                            top: -10px;
                        }

                        .previousValue {
                            right: auto;
                            left: $margin-main/2;
                            font-size: $font-size-small;

                            .textLabel {
                            }
                        }
                    }

                    &:first-of-type {
                        .block.blue {
                            margin-left: 0px;
                        }
                    }
                }
            }

            .columnTitles {
                padding-top: $margin-main/4;
                padding-bottom: $margin-main/4;
                border-top: $border-main;
                border-bottom: $border-main;

                .col {
                    padding-top: $margin-main/4;
                    padding-bottom: $margin-main/4;
                }
            }

            .ragTitles {
                .col {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .colHeader {
                    float: left;
                    width: 17%;
                    padding-left: 2%;
                    border-left: $border-main;
                    padding-top: $margin-main/4;
                    padding-bottom: $margin-main/4;

                    &:last-of-type {
                        border-right: none;
                        margin-left: 2%;
                        width: 12%;
                    }
                }
            }
        }

        .seperator {
            position: absolute;
            border: solid 1px #E7E7E7;
            top: 10%;
            bottom: 10%;
            left: 0px;

            &.right {
                right: 0px;
                left: auto;
            }
        }

        .accordionHandle {
            background-image: url(../images/IndicatorTriangle_right@2x.png);
            background-size: 25%;
            background-position: center center;
            background-repeat: no-repeat;
            width: 30%;
            display: inline-block;
            cursor: pointer;

            &.active {
                background-image: url(../images/IndicatorTriangle_down@2x.png);
            }
        }

        .noAccordionHandle {
            width: 30%;
            display: inline-block;
        }

        .accordionContent {
            display: none;
            padding-top: 0.3em;
        }

        .noBackground {
            background: none;
        }

        .indicator {
            position: relative;
            color: $color-font-light;

            &.noRAG {
                color:$color-font-main;
            }

            .currentValue {
                font-size: $font-size-heading;
            }

            .previousValue {
                /*margin:($margin-main / 4) 0;*/
                border-left: $border-main;
                font-size: $font-size-small;
                /*padding-left: ($margin-main / 2);*/
                width: 100%;
                text-align: center;
            }

            .icon {
                position: absolute;
                right: 0px;
                top: 0px;
            }

            &.up, &.even, &.down {
                background-image: url(../images/IndicatorArrow_up@2x.png);
                background-size: auto 90%;
                background-position: 95% center;
                background-repeat: no-repeat;

                &.even {
                    background-image: url(../images/IndicatorArrow_even@2x.png);
                }

                &.down {
                    background-image: url(../images/IndicatorArrow_down@2x.png);
                }

                &.trendCol {
                    background-position: 20% center;
                    background-image: url(../images/IndicatorArrow_black_up@2x.png);

                    &.even {
                        background-image: url(../images/IndicatorArrow_black_even@2x.png);
                    }

                    &.down {
                        background-image: url(../images/IndicatorArrow_black_down@2x.png);
                    }
                }
            }
        }

        .chart {
            padding-top: ($margin-main / 4);
            /*padding-bottom:0px;*/
            /*-- Chart --*/
            .c3 svg {
                font: 10px sans-serif;
            }

            .c3 path, .c3 line {
                fill: none;
                stroke: #000;
            }

            .c3 text {
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            .c3-legend-item-tile,
            .c3-xgrid-focus,
            .c3-ygrid,
            .c3-event-rect,
            .c3-bars path {
                shape-rendering: crispEdges;
            }

            .c3-chart-arc path {
                stroke: #fff;
            }

            .c3-chart-arc text {
                fill: #fff;
                font-size: 13px;
            }
            /*-- Axis --*/
            .c3-axis-x .tick {
            }

            .c3-axis-x-label {
            }

            .c3-axis-y .tick {
            }

            .c3-axis-y-label {
            }

            .c3-axis-y2 .tick {
            }

            .c3-axis-y2-label {
            }
            /*-- Grid --*/
            .c3-grid line {
                stroke: #aaa;
            }

            .c3-grid text {
                fill: #aaa;
            }

            .c3-xgrid, .c3-ygrid {
                stroke-dasharray: 3 3;
            }

            .c3-xgrid-focus {
            }
            /*-- Text on Chart --*/
            .c3-text {
            }

            .c3-text.c3-empty {
                fill: #808080;
                font-size: 2em;
            }
            /*-- Line --*/
            .c3-line {
                stroke-width: 1px;
            }
            /*-- Point --*/
            .c3-circle._expanded_ {
                stroke-width: 1px;
                stroke: white;
            }

            .c3-selected-circle {
                fill: white;
                stroke-width: 2px;
            }
            /*-- Bar --*/
            .c3-bar {
                stroke-width: 0;
            }

            .c3-bar._expanded_ {
                fill-opacity: 0.75;
            }
            /*-- Arc --*/
            .c3-chart-arcs-title {
                dominant-baseline: middle;
                font-size: 1.3em;
            }
            /*-- Focus --*/
            .c3-target.c3-focused {
                opacity: 1;
            }

            .c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
                stroke-width: 2px;
            }

            .c3-target.c3-defocused {
                opacity: 0.3 !important;
            }
            /*-- Region --*/
            .c3-region {
                fill: steelblue;
                /*fill-opacity: .9;*/
            }

            .c3-region.regionYR {
                fill: #D0021B;
                /*fill-opacity: .9;*/
            }

            .c3-region.regionYA {
                fill: #F5A623;
                /*fill-opacity: .9;*/
            }

            .c3-region.regionYG {
                fill: #7ED321;
                /*fill-opacity: .9;*/
            }
            /*-- Brush --*/
            .c3-brush .extent {
                /*fill-opacity: .1;*/
            }
            /*-- Select - Drag --*/
            .c3-dragarea {
            }
            /*-- Legend --*/
            .c3-legend-item {
                font-size: 12px;
            }

            .c3-legend-item-hidden {
                opacity: 0.15;
            }

            .c3-legend-background {
                opacity: 0.75;
                fill: white;
                stroke: lightgray;
                stroke-width: 1;
            }
            /*-- Tooltip --*/
            .c3-tooltip-container {
                z-index: 10;
            }

            .c3-tooltip {
                border-collapse: collapse;
                border-spacing: 0;
                background-color: #fff;
                empty-cells: show;
                -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
                -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
                box-shadow: 7px 7px 12px -9px rgb(119,119,119);
                opacity: 0.9;
            }

            .c3-tooltip tr {
                border: 1px solid #CCC;
            }

            .c3-tooltip th {
                background-color: #aaa;
                font-size: 14px;
                padding: 2px 5px;
                text-align: left;
                color: #FFF;
            }

            .c3-tooltip td {
                font-size: 13px;
                padding: 3px 6px;
                background-color: #fff;
                border-left: 1px dotted #999;
            }

            .c3-tooltip td > span {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 6px;
            }

            .c3-tooltip td.value {
                text-align: right;
            }

            .c3-area {
                stroke-width: 0;
                opacity: 0.2;
            }

            .c3-chart-arcs .c3-chart-arcs-background {
                fill: #e0e0e0;
                stroke: none;
            }

            .c3-chart-arcs .c3-chart-arcs-gauge-unit {
                fill: #000;
                font-size: 16px;
            }

            .c3-chart-arcs .c3-chart-arcs-gauge-max {
                fill: #777;
            }

            .c3-chart-arcs .c3-chart-arcs-gauge-min {
                fill: #777;
            }

            .c3-chart-arc .c3-gauge-value {
                fill: #000;
                /*  font-size: 28px !important;*/
            }

            .indicatorChart {
                width: 98%;
                padding: 0px;
                margin: 0px auto;
            }

            .sampleImage {
                width: 100%;
            }

            .left {
                width: 49%;

                &:first-of-type {
                    text-align: right;
                }
            }

            .col {
                padding-top: 0px;
                padding-bottom: 0px;
                height: 80px;
                line-height: 80px;
            }

            .blockRow {
                &.blockRow1 {
                    .block {
                        width: 100%;
                        padding-left: 15%;
                    }
                }

                &.blockRow5 {
                    .block {
                        &:first-of-type {
                            margin-left: 0;
                        }

                        width: 18%;
                        margin-left: 2%;
                    }
                }
            }

            .block {
                position: relative;
                height: 80px;
                line-height: 80px;
                padding-left: 3%;
                color: $color-font-light;
                text-align: left;
                float: left;
                @include border-radius(5px);

                .currentValue {
                    font-size: $font-size-heading;
                }

                .previousValue {
                    position: absolute;
                    right: 10%;
                    bottom: 15%;
                    line-height: 1em;
                }

                a {
                    color: $color-font-light;
                }
            }
        }

        .reportIndex {
            .row {
                .col {
                    height: auto;

                    p {
                        padding-bottom: $margin-main / 2;
                    }
                }
            }
        }

        .finance {

            .group {
                margin-top: 0;
                padding-top: $margin-main / 2;
                border-top: $border-main;
                border-top-width: 4px;

                &:first-of-type {
                    border-top: none;
                }

                &:before {
                    @extend .row;
                    content: ' ';
                    display: block;
                }

                .row {
                    .col {
                        padding-top: ($margin-main / 2) + ($margin-main / 8);

                        &:first-of-type {
                        }

                        &:last-of-type {
                            padding-top: ($margin-main / 2);
                        }
                    }

                    &:first-of-type {
                        margin-top: $margin-main / 4;
                        font-weight: $font-weight-bold;

                        .col {
                            font-size: $font-size-small;

                            &:first-of-type {
                                font-size: $font-size-main;
                            }
                        }
                    }

                    &:last-of-type {
                        .col {
                            //border-bottom: $border-main;
                            height: 70px;

                            &:last-of-type {
                                border-bottom: none;
                                height: auto;
                            }
                        }
                    }
                }
            }

            table {
                width: 100%;
                border-collapse: separate;

                &:first-of-type {
                    thead {
                        th {
                            padding-top: 0px;
                        }
                    }
                }

                tr {

                    td, th {
                        text-align: center;
                        padding: ($margin-main/2) ($margin-main / 4);
                        border-left: $border-thin-dark;
                        font-weight: $font-weight-bold;

                        &:first-of-type {
                            text-align: left;
                            font-weight: $font-weight-light;
                        }

                        &:last-of-type {
                            border-left: none;
                        }

                        &.indicator {
                            font-size: $font-size-heading-sub;
                        }
                    }

                    &:nth-child(even) {
                        td {
                            border-top: $border-thin-dark;
                            border-bottom: $border-thin-dark;

                            &:first-of-type {
                                border-left: none;
                            }
                        }
                    }
                }

                thead {
                    tr {
                        th {
                            border: none;
                            font-weight: $font-weight-normal;
                            padding-top: $margin-main;

                            &:first-of-type {
                                font-weight: $font-weight-bold;
                            }
                        }
                    }
                }

                tbody {
                    tr:first-of-type {
                        background-color: $color-bg-light;

                        td {
                            border-top: $border-thin-dark;

                            &:last-of-type {
                                @include border-top-right-radius(10px);
                            }
                        }
                    }

                    tr:last-of-type {
                        background-color: $color-bg-light;

                        td {
                            border-bottom: $border-thin-dark;
                        }

                        td:first-of-type {
                            border-left: $border-thin-dark;
                            font-weight: $font-weight-bold;
                            text-transform: uppercase;
                        }

                        td:last-of-type {
                            @include border-bottom-right-radius(10px);
                        }
                    }
                }
            }
        }

        .supplimentary {

            .groupLabel {
                vertical-align: middle;
                width: auto;

                padding: {
                    top: 0;
                    bottom: 0;
                }
            }

            .group {
                width: 100%;
                display: table;

                padding: {
                    top: 0;
                    bottom: 0;
                }

                margin: {
                    bottom: 2em;
                }

                > .col {
                    display: table-cell;
                    float: none;
                }
            }

            .group__headings {
                padding-left: 4.75%;
            }

            .dataRow {
                @include cf;

                padding: {
                    top: 0;
                    bottom: 0;
                }
                /* padding-top: ($margin-main / 2);
                padding-bottom: ($margin-main / 2);*/
                min-height: 60px;
            }

            .block {
                color: $color-font-light;
                font-size: $font-size-title;
                height: 100%;
                width: 85%;
                line-height: 60px;
                padding-left: $margin-main / 4;
            }

            table {
                width: 100%;
                border-collapse: separate;

                thead {
                    tr {
                        th {
                            border-bottom: $border-main;
                            border-top: $border-main;
                            padding-top: $margin-main;
                            font-weight: $font-weight-bold;
                        }
                    }
                }

                tbody {
                    tr {
                        border: $border-main;

                        td {
                            padding-top: $margin-main / 2;
                            padding-bottom: $margin-main / 2;
                        }
                    }
                }
            }
        }

        .businessArea {
            .accordionHandle {
                width: 50%;
            }

            .block {
                color: $color-font-light;
                font-size: $font-size-title;
                height: 100%;
                width: 85%;
                line-height: 60px;
                padding-left: $margin-main / 4;
            }

            .summary {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .risks {
            .groupLabel {
                background: #ECECEC;
                height: 100%;

                .verticalText {
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    width: 1em;
                    margin-top: 4em;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    &.dashboard {
        &.nhsDashboard {
        }

        @import "_widget_styles";
    }
}


#NavPage {
    width: 100%;
    height: 100%;
    color: $color-font-main;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-filter 200ms linear;
}

@import "views/_footer";

/*@include keyframes(LocationLoading){
    0% {
        background-image: url('/img/location@2x.png');
    }

    50% {
        background-image: url('/img/location_loading@2x.png');
    }

    100% {
        background-image: url('/img/location@2x.png');
    }
}

@include keyframes(AddressLoading){
    0% {
        background-image: url('/img/search@2x.png');
    }

    50% {
        background-image: url('/img/search_loading@2x.png');
    }

    100% {
        background-image: url('/img/search@2x.png');
    }
}*/




/*********************
RETINA
Include retina-specific overrides - most likely, 2x image alternatives
*********************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    @import "_retina";
}

/*********************
MOBILE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
@media only screen and (min-width: 0px) and (max-width: 270px) {
    // styles in 768up.scss
    @import "breakpoints/270lower";
}

@media only screen and (min-width: 271px) and (max-width: 321px) {
    // styles in 768up.scss
    @import "breakpoints/320lower";
}

@media only screen and /* (min-width: 322px) and*/ (max-width: 400px) {
    // styles in 768up.scss
    @import "breakpoints/400lower";
}

@media only screen and (min-width: 401px) {
    // styles in 768up.scss
    @import "breakpoints/768lower";
}

@media only screen and (max-height: 440px) {
    // styles for iPhone 4 & lower
    @import "breakpoints/440Heightlower";
}
// end of media query


.print-hide {
    display: inline-block;
}
.print-show {
    display: none;
}
@media print {
    @page {
        size: landscape;
    }

    @import "_print";
}
