/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/css3/animation";

@font-face {
    font-family: 'letra';
    src: url('../fonts/letrapro.eot');
    src: url('../fonts/letrapro.eot?#iefix') format('embedded-opentype'), url('../fonts/letrapro.woff') format('woff'), url('../fonts/letrapro.ttf') format('truetype'), url('../fonts/letrapro.svg#letra_proheadline') format('svg');
    font-weight: normal;
    font-style: normal;
}


@mixin animate($property, $duration, $easing) {
    @include transition-property($property);
    @include transition-duration($duration);
    @include transition-timing-function($easing);
}

//http://thesassway.com/intermediate/mixins-for-semi-transparent-colors
//http://codepen.io/cballenar/pen/tdznk
@mixin alpha-me($var1, $var2, $var3: null, $var4: null) {
    // Set variables for global use
    $property: $var1;
    $attributes: null;
    $color: null;
    $color-bg: null;

    // Check if $var2 is a color
    @if ( type-of($var2) == color ) {
        // Set default background if not specified
        @if not $var3 {
            $var3: #FFFFFF;
        }
        // Update variables
        $color: $var2;
        $color-bg: $var3;


        // Otherwise it should be the attributes
    }
    @else if ( type-of($var2) != color ) {
        // Set default background if not specified
        @if not $var4 {
            $var4: #FFFFFF;
        }
        // Update variables
        $attributes: $var2;
        $color: $var3;
        $color-bg: $var4;

    }
    // Extract alpha channel from color
    $percent: alpha($color) * 100%;

    // Make color opaque
    $opaque: opacify($color, 1);

    // Blend color with background.
    $color-solid: mix($opaque, $color-bg, $percent);

    // Return built style with solid color and transparent color
    #{$property}: #{$attributes} $color-solid;
    #{$property}: #{$attributes} $color;
}

@mixin center($axis: "both") {
    position: absolute;

    @if $axis == "y" {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @if $axis == "x" {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    @if $axis == "both" {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}


@import "_grid";


$color-white: #FFFFFF; // white
$color-bg: #F7F7F7; // base background white?
/*$color-bg-light: #979797; // used for borders/spacers and knocked-back text etc*/
$color-bg-light: #E7E7E7; // used for borders/spacers and knocked-back text etc
$color-grey-darker: #CCCCCC; //used for table lines / borders etc
$color-bg-main: #0065B7; // header / footer blue
$color-highlight: #00447C; // header buttons etc
$color-font-light: #ffffff;
$color-font-main: #000000;
$color-font-link: #4A90E2;
$color-rag-red: #D0021B;
$color-rag-red-amber: #EB8D57;
$color-rag-amber: #FFB800;
$color-rag-amber-green: #DADA36;
$color-rag-green: #7ED321;
$color-rag-blue: #0065B7;
$font-family-main: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size-title: 190%;
$font-size-heading: 160%;
$font-size-heading-sub: 140%;
$font-size-main: 100%;
$font-size-small: 80%;
$font-weight-heavy: 700;
$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$margin-main: 2em; //40px;
$height-column: 60px;
$border-main: solid 2px $color-bg-light;
$border-thin-dark: solid 1px $color-grey-darker;

body, html {
    font-family: $font-family-main;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
    color: $color-font-main;
    font-size: 110%;
    line-height: 1em;
    font-weight: $font-weight-light;

    a {
        text-decoration: none;
        font-weight: normal;
        color: $color-font-link;
    }
}

body > .ember-view {
    height: 100%;
    width: 100%;
}

#SiteWrapper, #MainWrapper, #NavPage { // #MainWrapper
    color: $color-font-main;
    background-color: $color-bg;
    height: 100%;
    margin: 0px auto;
    overflow: auto;
    /* ADDITIONAL GRID STYLES */
    .col {
        padding-top: ($margin-main / 2);
        padding-bottom: ($margin-main / 2);
        //height: $height-column;

        &.alignL {
            padding-left: 0px;
            text-align: left;
        }

        &.alignR {
            padding-right: 0px;
            text-align: right;
        }
        /*&.floatVertical {
            margin-top: $margin-main/4;
            margin-bottom:$margin-main/4;
            padding-top:$margin-main/4;
            height: $height-column - ($margin-main/2);
        }*/
    }
    /* END ADDITIONAL GRID STYLES */
    * {
        @include box-sizing(border-box);
    }

    @import "_layoutHelpers";

    h1, h2, h3, h4, h5, h6 {
        font-weight: $font-weight-normal;
        margin: 0px;
        padding: 0px;
    }

    h1 {
        font-size: $font-size-title;
    }

    h2 {
        font-size: $font-size-heading-sub;
        margin-bottom: $margin-main;
    }

    .button {
        text-align: center;
        background: $color-highlight;
        color: $color-font-light;
        @include border-radius(8px);
        cursor:pointer;
    }

    .smallText {
        font-size: $font-size-small;
        line-height: 1.5em;
    }

    .red {
        background-color: $color-rag-red;
    }

    .redAmber {
        background-color: $color-rag-red-amber;
    }

    .amber {
        background-color: $color-rag-amber;
    }

    .amberGreen {
        background-color: $color-rag-amber-green;
    }

    .green {
        background-color: $color-rag-green;
    }

    .blue {
        background-color: $color-rag-blue;
    }

    .missing {
        background-color: $color-bg-light;
    }



    #NHSEnglandLogo {
    }

    footer, section {
        padding: $margin-main;
        overflow: auto;
    }

    header, footer {
        color: $color-font-light;
        background-color: $color-bg-main;
    }

    header {

        &.report {
            background-image: url(../images/NHS-England-Logo.png);
            background-position: 40px center;
            background-size: 250px;
            background-repeat: no-repeat;
        }

        .backLink {
            img {
                width: 44px;
                height: 44px;
            }
        }



        @import "_header";
    }

    footer {
        height: 658px;
    }

    #MainContent {
    }

    &.boardReport {

        &.boardReportSummary {
            .missing.block {
                background-color:$color-bg;
                color:$color-bg;
            }
        }

        .seperator {
            position: absolute;
            border: solid 1px #E7E7E7;
            top: 10%;
            bottom: 10%;
            left: 0px;

            &.right {
                right: 0px;
                left: auto;
            }
        }

        .accordionHandle {
            background-image: url(../images/IndicatorTriangle_right@2x.png);
            background-size: 25%;
            background-position: center center;
            background-repeat: no-repeat;
            width: 30%;
            display: inline-block;
            cursor: pointer;

            &.active {
                background-image: url(../images/IndicatorTriangle_down@2x.png);
            }
        }

        .accordionContent {
            display: none;
        }

        .noBackground {
            background: none;
        }

        .indicator {
            position: relative;
            color: $color-font-light;

            .currentValue {
                font-size: $font-size-heading;
            }

            .previousValue {
                /*margin:($margin-main / 4) 0;*/
                border-left: $border-main;
                font-size: $font-size-small;
                padding-left: ($margin-main / 4);
            }

            .icon {
                position: absolute;
                right: 0px;
                top: 0px;
            }

            &.up, &.even, &.down {
                background-image: url(../images/IndicatorArrow_up@2x.png);
                background-size: auto 90%;
                background-position: 95% center;
                background-repeat: no-repeat;

                &.even {
                    background-image: url(../images/IndicatorArrow_even@2x.png);
                }

                &.down {
                    background-image: url(../images/IndicatorArrow_down@2x.png);
                }
            }
        }

        .chart {
            padding-top: ($margin-main / 4);
            /*padding-bottom:0px;*/
            /*-- Chart --*/
            .c3 svg {
                font: 10px sans-serif;
            }

            .c3 path, .c3 line {
                fill: none;
                stroke: #000;
            }

            .c3 text {
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            .c3-legend-item-tile,
            .c3-xgrid-focus,
            .c3-ygrid,
            .c3-event-rect,
            .c3-bars path {
                shape-rendering: crispEdges;
            }

            .c3-chart-arc path {
                stroke: #fff;
            }

            .c3-chart-arc text {
                fill: #fff;
                font-size: 13px;
            }
            /*-- Axis --*/
            .c3-axis-x .tick {
            }

            .c3-axis-x-label {
            }

            .c3-axis-y .tick {
            }

            .c3-axis-y-label {
            }

            .c3-axis-y2 .tick {
            }

            .c3-axis-y2-label {
            }
            /*-- Grid --*/
            .c3-grid line {
                stroke: #aaa;
            }

            .c3-grid text {
                fill: #aaa;
            }

            .c3-xgrid, .c3-ygrid {
                stroke-dasharray: 3 3;
            }

            .c3-xgrid-focus {
            }
            /*-- Text on Chart --*/
            .c3-text {
            }

            .c3-text.c3-empty {
                fill: #808080;
                font-size: 2em;
            }
            /*-- Line --*/
            .c3-line {
                stroke-width: 1px;
            }
            /*-- Point --*/
            .c3-circle._expanded_ {
                stroke-width: 1px;
                stroke: white;
            }

            .c3-selected-circle {
                fill: white;
                stroke-width: 2px;
            }
            /*-- Bar --*/
            .c3-bar {
                stroke-width: 0;
            }

            .c3-bar._expanded_ {
                fill-opacity: 0.75;
            }
            /*-- Arc --*/
            .c3-chart-arcs-title {
                dominant-baseline: middle;
                font-size: 1.3em;
            }
            /*-- Focus --*/
            .c3-target.c3-focused {
                opacity: 1;
            }

            .c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
                stroke-width: 2px;
            }

            .c3-target.c3-defocused {
                opacity: 0.3 !important;
            }
            /*-- Region --*/
            .c3-region {
                fill: steelblue;
                /*fill-opacity: .9;*/
            }

            .c3-region.regionYR {
                fill: #D0021B;
                /*fill-opacity: .9;*/
            }

            .c3-region.regionYA {
                fill: #F5A623;
                /*fill-opacity: .9;*/
            }

            .c3-region.regionYG {
                fill: #7ED321;
                /*fill-opacity: .9;*/
            }
            /*-- Brush --*/
            .c3-brush .extent {
                /*fill-opacity: .1;*/
            }
            /*-- Select - Drag --*/
            .c3-dragarea {
            }
            /*-- Legend --*/
            .c3-legend-item {
                font-size: 12px;
            }

            .c3-legend-item-hidden {
                opacity: 0.15;
            }

            .c3-legend-background {
                opacity: 0.75;
                fill: white;
                stroke: lightgray;
                stroke-width: 1;
            }
            /*-- Tooltip --*/
            .c3-tooltip-container {
                z-index: 10;
            }

            .c3-tooltip {
                border-collapse: collapse;
                border-spacing: 0;
                background-color: #fff;
                empty-cells: show;
                -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
                -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
                box-shadow: 7px 7px 12px -9px rgb(119,119,119);
                opacity: 0.9;
            }

            .c3-tooltip tr {
                border: 1px solid #CCC;
            }

            .c3-tooltip th {
                background-color: #aaa;
                font-size: 14px;
                padding: 2px 5px;
                text-align: left;
                color: #FFF;
            }

            .c3-tooltip td {
                font-size: 13px;
                padding: 3px 6px;
                background-color: #fff;
                border-left: 1px dotted #999;
            }

            .c3-tooltip td > span {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 6px;
            }

            .c3-tooltip td.value {
                text-align: right;
            }

            .c3-area {
                stroke-width: 0;
                opacity: 0.2;
            }

            .c3-chart-arcs .c3-chart-arcs-background {
                fill: #e0e0e0;
                stroke: none;
            }

            .c3-chart-arcs .c3-chart-arcs-gauge-unit {
                fill: #000;
                font-size: 16px;
            }

            .c3-chart-arcs .c3-chart-arcs-gauge-max {
                fill: #777;
            }

            .c3-chart-arcs .c3-chart-arcs-gauge-min {
                fill: #777;
            }

            .c3-chart-arc .c3-gauge-value {
                fill: #000;
                /*  font-size: 28px !important;*/
            }

            .indicatorChart {
                width: 98%;
                padding: 0px;
                margin: 0px auto;
            }

            .sampleImage {
                width: 100%;
            }

            .left {
                width: 49%;

                &:first-of-type {
                    text-align: right;
                }
            }

            .col {
                padding-top: 0px;
                padding-bottom: 0px;
                height: 80px;
                line-height: 80px;
            }

            .blockRow {
                &.blockRow1 {
                    .block {
                        width: 100%;
                        padding-left: 15%;
                    }
                }

                &.blockRow5 {
                    .block {
                        &:first-of-type {
                            margin-left: 0;
                        }

                        width: 18%;
                        margin-left: 2%;
                    }
                }
            }

            .block {
                position: relative;
                height: 80px;
                line-height: 80px;
                padding-left: 3%;
                color: $color-font-light;
                text-align: left;
                float: left;
                @include border-radius(5px);

                .currentValue {
                    font-size: $font-size-title;
                }

                .previousValue {
                    position: absolute;
                    right: 10%;
                    bottom: 15%;
                    line-height: 1em;
                }

                a {
                    color: $color-font-light;
                }
            }
        }

        .reportIndex {
            .row {
                .col {
                    height: auto;

                    p {
                        padding-bottom: $margin-main / 2;
                    }
                }
            }
        }

        .finance {

            .group {
                .row {
                    .col {
                        padding-top: ($margin-main / 2) + ($margin-main / 8);
                        font-weight: $font-weight-bold;

                        &:first-of-type {
                            font-weight: $font-weight-normal;
                        }

                        &:last-of-type {
                            padding-top: ($margin-main / 2);
                            font-weight: $font-weight-normal;
                        }
                    }

                    &:first-of-type {
                        margin-top: $margin-main / 4;

                        .col {
                            font-weight: $font-weight-normal;
                            font-size: $font-size-small;

                            &:first-of-type {
                                font-weight: $font-weight-bold;
                                font-size: $font-size-main;
                            }
                        }
                    }

                    &:last-of-type {
                        .col {
                            border-bottom: $border-main;
                            height: 70px;

                            &:last-of-type {
                                border-bottom: none;
                                height: auto;
                            }
                        }
                    }
                }
            }

            table {
                width: 100%;
                border-collapse: separate;

                &:first-of-type {
                    thead {
                        th {
                            padding-top: 0px;
                        }
                    }
                }

                tr {

                    td, th {
                        text-align: center;
                        padding: ($margin-main/2) ($margin-main / 4);
                        border-left: $border-thin-dark;
                        font-weight: $font-weight-bold;

                        &:first-of-type {
                            text-align: left;
                            font-weight: $font-weight-light;
                        }

                        &:last-of-type {
                            border-left: none;
                        }

                        &.indicator {
                            font-size: $font-size-heading-sub;
                        }
                    }

                    &:nth-child(even) {
                        td {
                            border-top: $border-thin-dark;
                            border-bottom: $border-thin-dark;

                            &:first-of-type {
                                border-left: none;
                            }
                        }
                    }
                }

                thead {
                    tr {
                        th {
                            border: none;
                            font-weight: $font-weight-normal;
                            padding-top: $margin-main;

                            &:first-of-type {
                                font-weight: $font-weight-bold;
                            }
                        }
                    }
                }

                tbody {
                    tr:first-of-type {
                        background-color: $color-bg-light;

                        td {
                            border-top: $border-thin-dark;

                            &:last-of-type {
                                @include border-top-right-radius(10px);
                            }
                        }
                    }

                    tr:last-of-type {
                        background-color: $color-bg-light;

                        td {
                            border-bottom: $border-thin-dark;
                        }

                        td:first-of-type {
                            border-left: $border-thin-dark;
                            font-weight: $font-weight-bold;
                            text-transform: uppercase;
                        }

                        td:last-of-type {
                            @include border-bottom-right-radius(10px);
                        }
                    }
                }
            }
        }

        .supplimentary {

            .group {
                width: 100%;
                display: table;
                padding: {
                    top: 0;
                    bottom: 0;
                }
                > .col {
                    display: table-cell;
                    float: none;
                }
            }

            .dataRow {
                padding: {
                    top: 0;
                    bottom: 0;
                }
                /* padding-top: ($margin-main / 2);
                padding-bottom: ($margin-main / 2);*/
                min-height: 60px;
            }

            table {
                width: 100%;
                border-collapse: separate;

                thead {
                    tr {
                        th {
                            border-bottom: $border-main;
                            border-top: $border-main;
                            padding-top: $margin-main;
                            font-weight: $font-weight-bold;
                        }
                    }
                }

                tbody {
                    tr {
                        border: $border-main;

                        td {
                            padding-top: $margin-main / 2;
                            padding-bottom: $margin-main / 2;
                        }
                    }
                }
            }
        }

        .businessArea {
            .accordionHandle {
                width:50%;
            }

            .block {
                color:$color-font-light;
                font-size:$font-size-title;
                height:100%;
                width:85%;
                line-height: 60px;
                padding-left:$margin-main / 4;
            }

            .summary {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .risks {
            .groupLabel {
                background: #ECECEC;
                height: 100%;
                .verticalText {
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &.dashboard {
        &.nhsDashboard {
        }

        @import "_widget_styles";
    }
}

#NavPage {
    width: 100%;
    height: 100%;
    color: $color-font-main;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-filter 200ms linear;
}







/*@include keyframes(LocationLoading){
    0% {
        background-image: url('/img/location@2x.png');
    }

    50% {
        background-image: url('/img/location_loading@2x.png');
    }

    100% {
        background-image: url('/img/location@2x.png');
    }
}

@include keyframes(AddressLoading){
    0% {
        background-image: url('/img/search@2x.png');
    }

    50% {
        background-image: url('/img/search_loading@2x.png');
    }

    100% {
        background-image: url('/img/search@2x.png');
    }
}*/




/*********************
RETINA
Include retina-specific overrides - most likely, 2x image alternatives
*********************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    @import "_retina";
}

/*********************
MOBILE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
@media only screen and (min-width: 0px) and (max-width: 270px) {
    // styles in 768up.scss
    @import "breakpoints/270lower";
}

@media only screen and (min-width: 271px) and (max-width: 321px) {
    // styles in 768up.scss
    @import "breakpoints/320lower";
}

@media only screen and /* (min-width: 322px) and*/ (max-width: 400px) {
    // styles in 768up.scss
    @import "breakpoints/400lower";
}

@media only screen and (min-width: 401px) {
    // styles in 768up.scss
    @import "breakpoints/768lower";
}

@media only screen and (max-height: 440px) {
    // styles for iPhone 4 & lower
    @import "breakpoints/440Heightlower";
}
// end of media query
