<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->



    {{outlet}}




<script src="js/vendor/moment.js"></script>
<script src="js/vendor/underscore-min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>