<div id="MainWrapper" class="dashboard nhsDashboard">
    <div id="contentWrapper" class="contentWrapper overflowX">
        <ul id="container" class="container"></ul>
    </div>
    <div id="WidgetHolder">
        {{#each widget in data}}
            {{widget-board-report-indicator widget=widget action="openModal"}}
        {{/each}}
    </div>
</div>