<div id="MainWrapper" class="boardReport">
    <section id="MainContent" class="reportIndex">
        <div class="row borderB paddingBL">
            <div class="col span_6">
                <h1>{{Title}}</h1>
            </div>
            <div class="col span_3 smallText">
                Last updated 12/11/2014
            </div>
            <!--<div class="col span_3 button">
                Produce Report for Print
            </div>-->
            <div class="col span_3">&nbsp;</div>
        </div>
        <div class="row marginTL">
            {{#each annex in data}}
            <div class="col span_4">
                <h2 class="marginBS">{{annex.Title}}</h2>
                <p>{{annex.SubTitle}}</p>
                {{#each page in annex.pages}}
                <p>{{#link-to 'page' annex.ID page.ID }}{{page.Title}}{{/link-to}}</p>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </section>
</div>
