<div id="MainWrapper" class="dashboard nhsDashboard">
    <div id="contentWrapper" class="contentWrapper overflowX">
        <ul id="container" class="container"></ul>
    </div>
    <div id="WidgetHolder">
        {{#each widget in data}}
            <li class="widget widgetIndicator cover noTouch amber" data-sizex="1" data-sizey="1">
                <div class="icon right IndicatorIcon_chart"></div>
                <div class="date">Aug-14</div>
                <h5 class="title">{{widget.Title}}</h5>
                <div class="currentValue">44</div>
                <div {{bind-attr class="indicator.ragColour :indicator indicator.trend"}}>&nbsp;</div>
            </li>
        {{/each}}
    </div>
</div>