<header class="paddingTS paddingBS paddingRXL paddingLL">
    <div class="row">
        <!--<div {{action 'goBackToBoardReport'}} class="col span_1 backLink marginTS"><img src="images/BackArrow@2x.png" /></div>-->
        <!--<a href="/" class="col span_1 backLink marginTS"><img src="images/BackArrow@2x.png" /></a>-->
        {{#link-to 'index' classNames="col span_1 backLink marginTS"}}<img src="images/BackArrow@2x.png" />{{/link-to}}

        <h1 class="col span_8">{{Title}}</h1>
        <div {{action 'prepareForPrint'}} class="button col span_3 marginTL marginBL">Produce Report for Print</div>
    </div>
</header>
