<header class="paddingTS paddingBS paddingRXL paddingLL">
    <div class="row">
        <div {{action 'goBackToBoardReport'}} class="col span_1 backLink marginTS"><img src="/images/BackArrow@2x.png" /></div>
        <h1 class="col span_8">{{Title}}</h1>
        <div class="button col span_3 marginTL marginBL">Product Report for Print</div>
        <!--<div class="button column two">Filter by</div>-->
    </div>
</header>
