<div id="SiteWrapper" class="siteWrapper">
    <span data-wrapping-around-header-outlet="true">
        {{header-main}}
    </span>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{outlet}}
    <div id="MainWrapper" class="boardReport">
        <section id="MainContent">
            <h2>Sorry, you don't appear to be logged in to the NHS England Data Catalogue</h2>
            <p>Please try logging in or register an account at <a href="https://data.england.nhs.uk">the NHS England Data Catalogue</a></p>
        </section>
    </div>
</div>

