
<div id="MainWrapper" class="boardReport">
    <section id="MainContent">
        <div class="row">
            <h2 class="col span_12">{{subTitle}}</h2>
            <div style="display:none;">
                <div class="col span_2 marginLNone marginRNone paddingLNone paddingRNone">
                    {{board-report-picker currentAnnexID=this.annexID currentPageID=this.pageID}}
                </div>
            </div>
        </div>





        <div class="row borderT borderB bold">
            <div class="col span_2">
                <span class="accordionHandle noBackground">&nbsp;</span>
                Date
            </div>
            <div class="col span_6 borderL">Aspect of Outcomes</div>
            <div class="col span_1 ">&nbsp;</div>
            <div class="col span_1 borderL">Current</div>
            <div class="col span_1 borderL">Previous</div>
            <div class="col span_1 borderL">Trend</div>
        </div>

        {{#each indicator in indicators}}

        {{#if indicator.hasValue}}
        {{/if}}
        {{render "IndicatorRow" indicator}}
        {{/each}}

    </section>
</div>
