<div id="MainWrapper" class="boardReport">
    <section id="MainContent" class="supplimentary risks">
        {{#each row in rows}}
            {{#if row.SectionTitle}}
                <h1>{{row.SectionTitle}}</h1>
            {{/if}}
            {{#if row.GroupTitle}}
                <h2>{{row.GroupTitle}}</h2>
            {{/if}}
            <div class="row">
                <div class="col span_12">
                    {{row.Col2}}
                </div>
            </div>
        {{/each}}
    </section>
</div>
