<div id="MainWrapper" class="boardReport">
    <section id="MainContent" class="supplimentary risks">
    {{#if data}}
        {{#each section in data.sections}}
        <div class="section">
            <h1 class="paddingBL">{{section.title}}</h1>
            <div class="row borderT borderB marginBL">
                <div class="col span_1"></div>
                <div class="col span_3 borderR">Risk</div>
                <div class="col span_2 borderR">Current status</div>
                <div class="col span_1 borderR">Mitigated</div>
                <div class="col span_3 borderR">Comments</div>
                <div class="col span_2">Achieve date</div>
            </div>
            {{#each group in section.groups}}
                <div class="group">
                    <div class="col span_1 groupLabel">
                        <div class="verticalText">
                            {{group.title}}
                        </div>
                    </div>
                    <div class="col span_11 group">
                        {{#each indicator in group.indicators}}
                            <div class="dataRow border radiusL radiusR marginBS">
                                <div class="col span_12">{{indicator.Col2}}</div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
        {{/each}}
    {{/if}}
    </section>
</div>