<div id="MainWrapper" class="boardReport">
    <section id="MainContent">
        {{#if subTitle}}
            <h2>{{subTitle}}</h2>
        {{/if}}

        <div class="pageText">
            {{#if data}}
                {{data}}
            {{else}}
                <p>Sorry there isn't any data in this resource yet</p>
            {{/if}}

        </div>
    </section>
</div>