
<div id="MainWrapper" class="boardReport">
    <section id="MainContent">
        <h2>{{subTitle}}</h2>

        <div class="row borderT borderB bold">
            <div class="col span_2">
                <span class="accordionHandle noBackground">&nbsp;</span>
                Date
            </div>
            <div class="col span_7 borderL">Aspect of Outcomes</div>
            <div class="col span_1 borderL">Target</div>
            <div class="col span_1 borderL">Current</div>
            <div class="col span_1 borderL">Previous</div>
        </div>

        {{#each indicator in indicators}}


        {{#if indicator.hasValue}}
        {{/if}}

            {{render "indicatorrowconstitution" indicator}}

        {{/each}}

    </section>
</div>
