<div id="MainWrapper" class="boardReport">
    <header class="report"></header>
    <section id="MainContent" class="reportIndex">
        <div class="row borderB paddingBL">
            <div class="col span_6">
                <h1>{{title}}</h1>
            </div>
            <div class="col span_3 smallText">
                Last updated 12/11/2014
            </div>
            <div class="col span_3 button">
                Produce Report for Print
            </div>
        </div>
        <div class="row marginTL">

            {{#each annex in annexes}}
            <div class="col span_4">
                <h2 class="marginBS">{{annex.title}}</h2>
                <p>{{annex.subTitle}}</p>
                {{#each page in annex.pages}}
                <p>{{#link-to 'page' annex.id page.id }}{{page.title}}{{/link-to}}</p>
                {{/each}}
            </div>
            {{/each}}

        </div>
    </section>
</div>
